body{
font-family:Arial;
background:#eef1f5;
text-align:center;
margin:0;
}

h1{
color:#2563eb;
}

a{
display:block;
margin:10px;
text-decoration:none;
color:#2563eb;
font-size:18px;
}

button{
padding:12px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.center{
margin-top:150px;
}